/* basic elements */
html, body {
    margin: 0;
    padding: 0;
}
h1 {
    font: bold 25px;
    color: #333;
    margin: 10px 0;
}
h2 {
    font: bold 20px;
    color: #325d72;
    border-bottom: 1px solid #ddd;
    margin: 1.5em 0 1em;
}
div {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
/* header */
#header {
    width: 800px;
    margin: 25px auto 0 auto;
}
#header a:link {
    font: 2em georgia, sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
    margin-bottom:5px;
    color: #325d72;
}
#header a:hover, a:active {
    text-decoration: none;
}
/* nav bar */
#nav a {
    font: 1.5em georgia, sans-serif;
    letter-spacing: 1px;
    color: #7D775C;
    margin-right: 25px;
}
/* main */
#main {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
