/* basic elements */
html {margin:0; padding:0;}
h1 {font:bold 1.3em; color:#333; margin:10px 0;}
h2 {font:bold 1.2em; color:#325d72; border-bottom:1px solid #ddd; margin:1.5em 0 1em;}
body {width:800px; margin:0 auto 0 auto; font-size:large; line-height:150%;
	font-family:"Sabon Lt Std","Hoefler Text","Palatino Linotype","Book Antiqua",serif;}
	
/* header */
#header {float:left; width:800px; margin-top:25px; margin-bottom:15px;}
#header a:link {font-size:1.7em; text-decoration:none; color:#325d72;}
#header a:visited, a:hover, a:active {text-decoration:none;}

/* nav bar */
#nav {float:left; width:800px; border-bottom:1px solid #325d72;}
#nav a:link {font-size:1.2em; text-decoration:none; color:#325d72;}
#nav a:visited, a:hover, a:active {text-decoration:none;}
#nav span {margin-left:20px;}

/* main content */
#content {float:left; width:800px; min-height:400px;}
#content p {margin-left:20px; margin-right:20px;}

/* footer */
#footer {float:left; width:800px; border-top:1px solid #325d72;}
#footer p {margin-left:20px;}
