<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<title>{{ page.title }} - Changning Niu</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
	</head>

	<body>
		<div id="logo">
            <span id="tags">Computational Materials Science</span>
			<h1><a href="/">Changning Niu's website</a></h1></div>
		<div id="wrapper">
			<div id="content">
				<h2>{{ page.title }}</h2>
				<div class="cnt">
					{{ content }}
					<br />
				</div>
			</div>

				<div id="footer">
					<div id="feed"> </div>
					<span style="color:#bbb;font-size:12px">Hosted on Github</span>
					<p style="clear:both"></p>
				</div>

	</body>
</html>

